<!--
  ~ Copyright © 2016 Aram Meem Company Limited.  All Rights Reserved.
  -->
<form #merchantForm="ngForm" class="merchant-details container" enctype="multipart/form-data">
  <div class="form-group row">
    <div class="col-sm-3">
      <button (click)="saveMerchant()" class="btn btn-secondary" [hidden]="!wasModified">Save</button>
    </div>
  </div>

  <div class="row">
    <am-select-lang [lang]="lang"
                    [wasModified]="wasModified"
                    (onChange)="onChangeLang($event)"></am-select-lang>
  </div>

  <am-upload-image [title]="'Upload image'"
                   [folder]="'MERCHANTS'"
                   [imageUrl]="merchant.imageUrl"
                   (onUpload)="onUploadImage($event)"></am-upload-image>

  <div class="form-group checkbox">
    <ba-checkbox [(ngModel)]="merchant.enabled" [label]="'Merchant enabled'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="merchant.name">
  </div>

  <div class="form-group">
    <label for="desc">Description</label>
    <input type="text" class="form-control" id="desc" name="desc" [(ngModel)]="merchant.description">
  </div>

  <am-upload-image [title]="'Upload default product image'"
                   [folder]="'MERCHANTS'"
                   [imageUrl]="merchant.defaultProductImageUrl"
                   (onUpload)="onUploadDefaulltProductImage($event)"></am-upload-image>
</form>
