<!--
  ~ Copyright © 2016 Aram Meem Company Limited.  All Rights Reserved.
  -->
<form #merchantForm="ngForm" class="merchant-details container">
  <div class="row">
    <am-select-lang [lang]="lang"
                    [wasModified]="wasModified"
                    (onChange)="onChangeLang($event)"></am-select-lang>
  </div>

  <div class="row">
    <div class="form-group col-sm-3">
      <label>Merchant logo</label>
      <am-upload-image name="imageUrl"
             [folder]="'MERCHANTS'"
             [(ngModel)]="viewModel.merchant.imageUrl"></am-upload-image>
    </div>
  </div>

  <div class="form-group">
    <label class="checkbox-inline custom-checkbox nowrap">
      <input type="checkbox" class="form-control" name="enabled" [(ngModel)]="viewModel.merchant.enabled">
      <span>Merchant enabled</span>
    </label>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label>Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="viewModel.merchant.name" [ngStyle]="{'direction': langDirection}">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label>Description</label>
      <textarea type="text" class="form-control" name="desc" [(ngModel)]="viewModel.merchant.description" [ngStyle]="{'direction': langDirection}">
      </textarea>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label>Root categories</label>
      <am-root-category-multiselect name="rootCategories" [lang]="lang" [(ngModel)]="viewModel.linkedRootCategoryIds"></am-root-category-multiselect>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3">
      <label>Default product image</label>
      <am-upload-image name="defaultProductImageUrl"
                       [folder]="'MERCHANTS'"
                       [(ngModel)]="viewModel.merchant.defaultProductImageUrl"></am-upload-image>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4">
      <button (click)="saveMerchant()" class="btn btn-secondary" [hidden]="!wasModified">Save</button>
    </div>
  </div>
</form>
