 <!--
  ~ Copyright © 2016 Aram Meem Company Limited.  All Rights Reserved.
  -->

<div class="widgets">

  <div class="row">

    <div class="col-md-5">
      <div class="row">
          <am-select-lang [lang]="changedLangObj"
                          (onChange)="onChangeLanguage($event)"></am-select-lang>
      </div>

      <div class="row">
          <toyou-category-form class="w-100"
              [language]="changedLangObj"
              [listId]="listId"
              [editId]="editId"
              >
          </toyou-category-form>
      </div>

    </div>

    <div class="col-md-7 col-xs-12">
       <am-category-list
        [language]="changedLangObj"
        [listId]="listId"
        [editId]="editId">
       </am-category-list>
    </div>
  </div>

</div>
