  <!--
  ~ Copyright © 2016 Aram Meem Company Limited.  All Rights Reserved.
  -->
<div>
  <form #ordersFilterForm="ngForm">
    <p>Filter by:</p>

    <div class="row">
      <div class="form-group col-sm-2">
        <label>Created from:</label>
        <am-datepicker name="dpfrom" [(ngModel)]="filterParamsForm.createdFrom"></am-datepicker>
      </div>

      <div class="form-group col-sm-2">
        <label>to:</label>
        <am-datepicker name="dpto" [(ngModel)]="filterParamsForm.createdTo"></am-datepicker>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Status:</label>
          <am-order-status-multiselect name="status" [(ngModel)]="filterParamsForm.orderStatuses"></am-order-status-multiselect>
        </div>
        <div class="form-group">
          <label>Person:</label>
          <am-order-person-multiselect name="person" [(ngModel)]="filterParamsForm.orderPersons"></am-order-person-multiselect>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <button type="button" class="btn btn-default" (click)="clearFilters()">
          Clear filters
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-striped table-condensed am-order-list">
      <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Status</th>
        <th>Created</th>
        <th>Delivered</th>
        <th>Customer</th>
        <th>Driver</th>
        <th>Pick-up</th>
        <th>Drop-off</th>
        <th>Total SAR</th>
      </tr>
      </thead>
      <tbody>
      <tr am-order-row *ngFor="let order of orders.content;" [order]="order"></tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <button (click)="loadMoreOrders()" class="btn btn-secondary"
            [hidden]="orders.content.length == orders.total">Show more</button>
  </div>
</div>
