 <div class="widgets">

  <div class="row">

    <div class="col-md-5">
      <div class="row">

        <div class="col-md-3">

          <language-switch (changeLanguage)="onChangeLanguage($event)" ></language-switch>
        </div>

      </div>

      <div class="row">
          <toyou-category-form 
              [language]="changedLangObj" 
              [listId]="listId" 
              [editId]="editId"
              >
          </toyou-category-form>
      </div>
    
    </div>

    <div class="col-md-7">
       <am-category-list 
        [language]="changedLangObj" 
        [listId]="listId" 
        [editId]="editId">
       </am-category-list>
    </div>
  </div>

</div>