<div class="panel panel-default">

  <!--<div class="panel-body" style="padding:0px">-->
<div class="container">
 
  <div class="row category-search">
     <div class="col-sm-12 card ">
        <div class="col-xs-6 pull-right form-group card-text">
            <input type="text" class="form-control" #queryElem (keyup)="0" style="border-radius:0px" placeholder="Search">
        </div>
     </div>
  </div>
   
<!--Lang = {{ language | json }}-->
    <toyou-category-card
          class="category-card"
          *ngFor="let category of categories | StringListFilter:queryElem.value; let i = index; "
          [editId]="editId" 
          [listId]="listId" 
          [category]="category"
    >
    </toyou-category-card>

</div>
  <!--</div>-->
