<!--<div class="row">-->

<div class="col-sm-12 category-card">
    
    <div class="card card-block">

        <img class="card-img-top col-xs-4 col-sm-3" src="{{category.imageUrl}}" alt="{{category.name}}">
    
        <h3 class="card-title col-xs-3">{{category.name}}</h3>

        <p class="card-text col-xs-4">{{category.description}}</p>
    <!--<div class="col-sm-6"></div>
    <div class="col-sm-2"></div> -->
    
        <div class="col-xs-2">
            <div class="row">
                <div class="col-xs-6 col-md-6 col-lg-6">
                    <button type="button" class="btn btn-xs btn-default" (click)="editCategory()" >
                        <span class="glyphicon glyphicon-pencil"><i class="fa fa-pencil" aria-hidden="true"></i> </span>
                    </button>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6">
                    <button type="button" (click)="deleteCategory(category.id)" class="remove-news btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Delete">
                    <span class="glyphicon glyphicon-trash"><i class="fa fa-trash" aria-hidden="true"></i> </span>
                    </button>                
                </div>
            </div>           
        </div>   

    </div> 
    <!--card-block-->

</div>

<!--</div>-->
