<div class="panel panel-default">
<div style="margin:7px">
        <!--<div class="col-xs-6">
        <div class="btn-group">
        <a class="btn btn-success"><span>New Category</span></a>
        </div>
      </div>-->
        <div class="col-xs-6 pull-right form-group">
            <input type="text" class="form-control" #queryElem (keyup)="0" style="border-radius:0px" placeholder="Search">
        </div>
        </div>
  <!--<div class="panel-body" style="padding:0px">-->
<div class="container">
    <!--<div class="row">
    	
        <div class='col-sm-4 col-xs-4 col-md-4'> Name</div>
        <div class='col-sm-4 col-xs-4 col-md-4'>Parent</div>
        <div class='col-sm-4 col-xs-4 col-md-4'> Actions</div>
       
	</div>-->
   
            <toyou-category-card
                  class="caterory-card"
                 *ngFor="let category of categories | StringListSort:queryElem.value; let i = index; "
                  [editId]="editId" 
                  [listId]="listId" 
                 [category]="category"
            >
            </toyou-category-card>

</div>
  <!--</div>-->
