<tr>
    <td class="">Categori id {{category.id}}</td>
    <td class="">Parent</td> 
    
    <td>
        <button type="button" class="btn btn-xs btn-default">
            <span class="glyphicon glyphicon-pencil"><i class="fa fa-pencil" aria-hidden="true"></i>
    </span>
        </button>
        <button type="button" data-bind="click: $parent.remove" class="remove-news btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Delete">
            <span class="glyphicon glyphicon-trash"><i class="fa fa-trash" aria-hidden="true"></i>
    </span>
        </button>
    </td>   
</tr>