/*!
 * Copyright © 2016 Aram Meem Company Limited.  All Rights Reserved.
 */

table.am-driver-list {
  thead {
    background-color: #1d5b86;
  }
}

table {
  thead {
    th {
      font-weight: bold ! important;
    }
  }

  tbody {
    tr:hover {
      background-color: darkcyan;
    }
  }
}

label {
  display: block;
}

.input-group {
  height: 32px;
  margin-bottom: 0;
}

select.form-control {
  height: 2.2rem!important;
}

a.link {
  color: whitesmoke;
}

a.link:hover, a.hoverlink {
  color: whitesmoke;
  text-decoration: underline!important;
}

.crop {
  overflow:hidden;
  text-overflow:ellipsis;
}
