<!--
  ~ Copyright © 2017 Aram Meem Company Limited.  All Rights Reserved.
  -->
<form #posForm="ngForm" class="merchant-details container">

  <div class="row">
    <div class="form-group col-sm-2">
      <am-select-lang [lang]="lang"
                    [wasModified]="model.wasModified"
                    (onChange)="onChangeLang($event)"></am-select-lang>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-12">
      <h5>Pos ID: {{model.pos.id}}</h5>
    </div>
  </div>

  <ngb-accordion #acc="ngbAccordion" activeIds="details-panel" (panelChange)="onPanelChanged($event)">
    <ngb-panel id="details-panel" title="Details">
      <template ngbPanelContent>

        <am-pos-details-input-form #detailsForm [(ngModel)]="model.pos" name="posInputForm"></am-pos-details-input-form>

        <div class="alert alert-warning text-center" *ngIf="model.unresolvedAddress">
          <strong>Warning!</strong> Unresolved address
        </div>

        <div *ngIf="model.showResolved">
          <am-change-geo-point-card
            [currentPoint]="model.pos.address.geoPoint"
            [newPoint]="model.resolvedPoint"
            (pointClick)="onPointChosen($event)">
          </am-change-geo-point-card>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <button (click)="savePos()" class="btn btn-secondary" [disabled]="!detailsForm.form.valid" [hidden]="!model.wasModified">Save</button>
            <button class="btn btn-secondary pull-right" (click)="deleteConfirmModal.show()" *ngIf="posId">Delete
            </button>
          </div>
        </div>

      </template>
    </ngb-panel>
    <ngb-panel id="map-panel" title="Map">
      <template ngbPanelContent>

        <am-pos-map *ngIf="!mapHidden" [markers]="mapMarkersViewModel" (markerClick)="onMarkerClicked($event)" (mapClick)="onMapClicked($event)"></am-pos-map>

      </template>
    </ngb-panel>

    <ngb-panel id="work-time-panel" title="Work time schedule">
      <template ngbPanelContent>

        <am-pos-work-times [posId]="posId"></am-pos-work-times>

      </template>
    </ngb-panel>

  </ngb-accordion>

  <am-modal-confirm #deleteConfirmModal [message]="confirmDeleteMessage"
                    (answer)="onDeleteConfirm($event)"></am-modal-confirm>
  <am-modal-confirm #deactivateConfirmModal [message]="leaveThisPageMessage"
                    (answer)="onDeactivateConfirm($event)"></am-modal-confirm>
  <am-modal-confirm #replaceAddressModal [message]="replaceAddressMessage"
                    (answer)="onReplaceAddressConfirm($event)"></am-modal-confirm>

</form>
