<!--<button (click)="loadLocations()">Load locations</button>
<button (click)="stopLoading()">stop Loading</button>-->
 <sebm-google-map
      [styles]="mapStyles"
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      (zoomChange)="onMapZoomChange($event)"
      (mapClick)="mapClicked($event)">


      <sebm-google-map-marker #myMarker
          *ngFor="let m of drivers; let i = index"
          (markerClick)="clickedMarker(m, i)"
          [latitude]="m.lat"
          [longitude]="m.lon"
          [iconUrl]="m.icon"
          (dragEnd)="markerDragEnd(m, $event)">

      </sebm-google-map-marker>

   <custom-directive></custom-directive>

   <!--<sebm-google-map-info-window>-->
     <!--<strong></strong>-->
   <!--</sebm-google-map-info-window>-->

  </sebm-google-map>
