<!--
  ~ Copyright © 2016 Aram Meem Company Limited.  All Rights Reserved.
  -->
<form #driverForm="ngForm" class="container">

  <h3>Driver: {{driver.firstName + ' ' + driver.lastName}}</h3>

  <div class="row">
    <div class="form-group col-sm-3">
      <label>Driver Image</label>
      <am-upload-image name="avatarUrl"
                       [folder]="'DRIVERAVATAR'"
                       [settings]="uploadSettings"
                       [(ngModel)]="driver.avatarUrl"></am-upload-image>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3">
      <label>Phone</label>
      <input type="text" class="form-control" name="phone" [(ngModel)]="driver.phone" [disabled]="driverId !== 'new'" required #phone="ngModel">
      <div [hidden]="!(phone.control.hasError('required') &&  !phone.pristine)" class="alert alert-danger">
        Phone is required
      </div>
    </div>
    <div class="form-group col-sm-3">
      <label>Email</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="driver.email" [disabled]="driverId !== 'new'" required #email="ngModel">
      <div [hidden]="!(email.control.hasError('required') &&  !email.pristine)" class="alert alert-danger">
        Email is required
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3" [ngSwitch]="driverId">
      <label>Password</label>
      <div *ngSwitchCase="'new'">
        <input type="password" class="form-control" name="password" [(ngModel)]="driver.password" required #password="ngModel">
        <div [hidden]="!(password.control.hasError('required') && !password.pristine)" class="alert alert-danger">
          Password is required
        </div>
      </div>
      <input *ngSwitchDefault type="password" class="form-control" name="password" [disabled]="true" [(ngModel)]="driver.password">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3">
      <label>First name</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="driver.firstName">
    </div>
    <div class="form-group col-sm-3">
      <label>Last name</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="driver.lastName">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3">
      <label>License number</label>
      <input type="text" class="form-control" name="licenseNumber" [(ngModel)]="driver.licenseNumber">
    </div>
  </div>

  <h3>Car details</h3>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Capacity</label>
          <select [(ngModel)]="driver.capacity" name="capacity" class="form-control" required amVehicleTypeOptions></select>
        </div>
        <div class="form-group col-sm-6">
          <label>Type</label>
          <input type="text" class="form-control" name="carType" [(ngModel)]="driver.carType">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Brand</label>
          <input type="text" class="form-control" name="carBrand" [(ngModel)]="driver.carBrand">
        </div>
        <div class="form-group col-sm-6">
          <label>Color</label>
          <input type="text" class="form-control" name="carColor" [(ngModel)]="driver.carColor">
        </div>
      </div>
    </div>
  </div>

  <h3>Max payment amounts</h3>
  <div class="row">
    <div class="col-sm-6">
      <am-max-payment-amounts name="maxPaymentAmounts" [(ngModel)]="driver.maxPaymentAmounts"></am-max-payment-amounts>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <button (click)="saveDriver()" class="btn btn-secondary" [hidden]="!wasModified" [disabled]="!driverForm.form.valid">Save</button>
    </div>
  </div>

</form>
